<div class="dashboard-container">
    <div class="row">
        <div class="col-md-3 side-bar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9 right-content">
            <!-- Right Panel -->
            <div id="right-panel" class="right-panel">
                <app-navbar></app-navbar>
                <app-breadcrumbs></app-breadcrumbs>
                <div class="container">
                    <div class="card text-center">
                        <div class="card-header">
                          <h3>Add New Section</h3>
                          <div class="close" (click)="goback()">
                              <span>x</span>
                          </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tr>
                                    <td class="title">Section Type</td>
                                    <td class="data">
                                        
                                        <select>
                                            <option>Main Section</option>
                                            <option>Sub Section</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Section Name</td>
                                    <td class="data">
                                        <div class="english">
                                            <label class="refer">
                                                <img src="../../../assets/images/englishflag.png" alt="english flag" width="100%" height="100%">
                                            </label>
                                            <input type="text" class="form-control" name="EnCountryName" placeholder="Enter The Name In English">
                                        </div>
                                        <div class="arabic">
                                            <label class="refer">
                                                <img src="../../../assets/images/Arabic-Language-Flag.svg" alt="english flag" width="100%" height="100%">
                                            </label>
                                            <input type="text" class="form-control" name="EnCountryName" placeholder="Enter The Name In Arabic">
                                        </div>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Image</td>
                                    <td class="data">
                                        <input type="file" name="file" id="file" class="inputfile chooseImage" />
                                        <label class="choose" for="file"> <i class="fas fa-upload"></i>Choose a file</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Phone Code</td>
                                    <td class="data">
                                        <input type="text" class="form-control phoneCode" name="code" placeholder="Country Phone Code">
                                    </td>
                                </tr>
                                
                            </table>
                          
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class='btn btn-primary add-button'><i class="fas fa-plus"></i>Add</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





