<div class="search">
    <form method="POST"  action="#">
        <div>
            <span>
                <input style="width: 82px;margin-bottom: 5px;" type="text" value="" name="sphone" placeholder="Phone" class="input-small search-input">
            </span>
            <span>
                <input style="width: 82px;margin-bottom: 5px;" type="text" value="" name="sname" placeholder="Name" class="input-small search-input">
            </span>
            <span>
                <select name="search_city_id" class="search-select">
                    <option value=""> -- City --</option>
                    <option  value="1">United Arab Emirates</option>
                </select>
            </span>
            <button  type="submit" class="btn search-button"> Serach</button>
        </div>
    </form>
</div>