<div class="dashboard-container">
    <div class="row">
        <div class="col-md-3 side-bar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9 right-content">
            <!-- Right Panel -->
            <div id="right-panel" class="right-panel">
                <app-navbar></app-navbar>
                <app-breadcrumbs></app-breadcrumbs>
                <div class="container">
                    <!--start contain card-->
                    <div class="card contain-card">
                        <div class="card-header">
                            <h3>SITE OPTIONS</h3>
                        </div>
                        <div class="card-body">
                             <!--start site options-->
                    <div class="card text-center">
                        <div class="card-header">
                          <h3>EDIT OPTIONS</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tr>
                                    <td class="title">Site Name</td>
                                    <td class="data site-name">
                                        <!-- full name in inglish-->
                                        <img class="for-defintion-en" src="../../../assets/images/englishflag.png" width="45px" height="30px">
                                        <div class="guide-en-message">Enter Site Name In English</div>
                                        <form class="fullname">  
                                            <input type="text" name="site-name-en" class="form-control" placeholder="Site name In English"> 
                                        </form>
                                        <!--full name in arabic-->
                                        <img class="for-defintion-ar" src="../../../assets/images/Arabic-Language-Flag.svg" width="45px" height="30px">
                                        <div class="guide-ar-message">Enter Site Name In Arabic</div>
                                        <form class="fullname">     
                                            <input type="text" name="site-name-ar" class="form-control" placeholder="Site name In Arabic">
                                        </form>  
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Site Description</td>
                                    <td class="data site-desc">
                                        <!-- full name in inglish-->
                                        <img class="for-defintion-en" src="../../../assets/images/englishflag.png" width="45px" height="30px">
                                        <div class="guide-en-message">Enter Site Description In English</div>
                                        <form >  
                                            <textarea  name="site-desc-en" class="form-control" placeholder="Site Description In English"></textarea>
                                        </form>
                                        <!--full name in arabic-->
                                        <img class="for-defintion-ar" src="../../../assets/images/Arabic-Language-Flag.svg" width="45px" height="30px">
                                        <div class="guide-ar-message">Enter Site Description In Arabic</div>
                                        <form >    
                                            <textarea  name="site-desc-ar" class="form-control" placeholder="Site Description In Arabic"></textarea> 
                                        </form>  
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Keywords</td>
                                    <td class="data site-desc">
                                        <!-- full name in inglish-->
                                        <img class="for-defintion-en" src="../../../assets/images/englishflag.png" width="45px" height="30px">
                                        <div class="guide-en-message">Enter Keywords In English</div>
                                        <form >  
                                            <textarea  name="site-key-en" class="form-control" placeholder="Site Keywords In English"></textarea> 
                                            
                                        </form>
                                        <!--full name in arabic-->
                                        <img class="for-defintion-ar" src="../../../assets/images/Arabic-Language-Flag.svg" width="45px" height="30px">
                                        <div class="guide-ar-message">Enter Keywords In Arabic</div>
                                        <form >  
                                            <textarea name="site-key-ar" class="form-control" placeholder="Site Keywords In Arabic"></textarea>    
                                            
                                        </form>  
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Site Email</td>
                                    <td class="data">
                                        <input type="email" class="form-control email" name="site-email" placeholder="Enter Email">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">1 Ramadan Date</td>
                                    <td class="data">
                                        <input type="text" class="form-control email" name="ramadan-date" placeholder="Enter 1 Ramadan Date">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class='btn btn-primary save-button'><i class="far fa-save"></i>Save</a>
                        </div>
                    </div>
                    <!--end site options-->

                    <!-- start member settings-->
                    <div class="card text-center">
                        <div class="card-header">
                          <h3>MEMBER SETTINGS</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tr>
                                    <td class="title">Allow new Registration</td>
                                    <td class="data">
                                        <form class="newsletter">
                                            <input  type="radio" id="yes" name="newsletter" value="yes">
                                            <label for="yes">Yes</label>
                                            <input  type="radio" id="no" name="newsletter" value="no">
                                            <label for="no">No</label> 
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Membership activation</td>
                                    <td class="data">
                                        <form class="newsletter">
                                            <input  type="radio" id="auto" name="mem-activation" value="automatic">
                                            <label for="auto">Automatic  </label>
                                            <input  type="radio" id="e-confirmation" name="mem-activation" value="email-confirmation">
                                            <label for="e-confirmation">Email Confirmation </label> 
                                            <input  type="radio" id="manual" name="mem-activation" value="manual">
                                            <label for="manual"> Manual By Admin</label> 
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Disable Calender Editing</td>
                                    <td class="data">
                                        <form class="newsletter">
                                            <input  type="radio" id="yes" name="newsletter" value="yes">
                                            <label for="yes">Yes</label>
                                            <input  type="radio" id="no" name="newsletter" value="no">
                                            <label for="no">No</label> 
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class='btn btn-primary save-button'><i class="far fa-save"></i>Save</a>
                        </div>
                    </div>
                    <!--end members settings-->

                    <!--start language settings-->
                    <div class="card text-center">
                        <div class="card-header">
                          <h3>LANGUAGE SETTINGS</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tr>
                                    <td class="title">Default Language</td>
                                    <td class="data">
                                        <form class="newsletter">
                                            <input  type="radio" id="yes" name="newsletter" value="yes">
                                            <label for="yes">Arabic</label>
                                            <input  type="radio" id="no" name="newsletter" value="no">
                                            <label for="no">English</label> 
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Other Language</td>
                                    <td class="data">
                                        <form class="newsletter">
                                            <input  type="radio" id="yes" name="newsletter" value="yes">
                                            <label for="yes">Yes</label>
                                            <input  type="radio" id="no" name="newsletter" value="no">
                                            <label for="no">No</label> 
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class='btn btn-primary save-button'><i class="far fa-save"></i>Save</a>
                        </div>
                    </div>
                    <!--end language settings-->

                     <!--start language settings-->
                     <div class="card text-center">
                        <div class="card-header">
                          <h3>SITE LOGO SETTINGS</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tr>
                                    <td class="title">Site Logo</td>
                                    <td class="data">
                                        <div class="image">
                                            <img src="../../../assets/images/homeimage.png" alt="english flag" width="100%" height="100%">
                                            
                                        </div>
                                        <a class="deleteImage" href="#">Delete</a>
                                        <input type="file" name="file" id="file" class="inputfile chooseImage" />
                                        <label class="uploade-image" for="file"> <i class="fas fa-upload"></i>Choose a file</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Site Color</td>
                                    <td class="data site-colors">
                                        <form class="newsletter">
                                            <input  type="radio" id="red" name="red" value="red">
                                            <label for="red"></label>
                                            <input  type="radio" id="yellow" name="yellow" value="yellow">
                                            <label for="yellow"></label> 
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class='btn btn-primary save-button'><i class="far fa-save"></i>Save</a>
                        </div>
                    </div>
                    <!--end language settings-->

                     <!--start contact info settings-->
                     <div class="card text-center">
                        <div class="card-header">
                          <h3>CONTACT INFO SETTINGS</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tr>
                                    <td class="title">Phone Number</td>
                                    <td class="data">
                                        <input type="text" class="form-control phoneNom" name="phoneNumber" placeholder="Enter Phone Number">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Email</td>
                                    <td class="data">
                                        <input type="email" class="form-control email" name="email" placeholder="Enter Email">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class='btn btn-primary save-button'><i class="far fa-save"></i>Save</a>
                        </div>
                    </div>
                    <!--end contact info settings-->

                     <!--start socail media settings-->
                     <div class="card text-center">
                        <div class="card-header">
                          <h3>SOCIAL NETWORKS SETTINGS</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tr>
                                    <td class="title">Facebook</td>
                                    <td class="data">
                                        <input type="text" class="form-control " name="phoneNumber" placeholder="Enter Link">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Twitter</td>
                                    <td class="data">
                                        <input type="text" class="form-control " name="phoneNumber" placeholder="Enter Link">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Youtube</td>
                                    <td class="data">
                                        <input type="text" class="form-control " name="phoneNumber" placeholder="Enter Link">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Linked In</td>
                                    <td class="data">
                                        <input type="text" class="form-control " name="phoneNumber" placeholder="Enter Link">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Instagram</td>
                                    <td class="data">
                                        <input type="text" class="form-control " name="phoneNumber" placeholder="Enter Link">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Snapchat</td>
                                    <td class="data">
                                        <input type="text" class="form-control " name="phoneNumber" placeholder="Enter Link">
                                    </td>
                                </tr>
                                
                            </table>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class='btn btn-primary save-button'><i class="far fa-save"></i>Save</a>
                        </div>
                    </div>
                    <!--end socail media settings-->
                        </div>
                    </div>
                    <!--end contain card-->
                    
                </div>
            </div>
        </div>
    </div>
</div>





